[Desktop Entry]
Type=Application
Version=1.7
Name=Hyne
GenericName=FF8 Save Game Editor
GenericName[fr]=Éditeur de sauvegarde FF8
Comment=Can edit saves from Final Fantasy VIII (PS & PC)
Comment[fr]=Permet de modifier les sauvegardes de Final Fantasy VIII (PS et PC)
Icon=hyne.png
Exec=/usr/bin/hyne
Path=
Terminal=false
Categories=Application;Game;
Keywords=Memory Card;PlayStation;Final Fantasy;
StartupNotify=false
