#include <windows.h>

IDI_ICON1   ICON   DISCARDABLE   "images/HYNE.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION			HYNE_VERSION_MAJOR,HYNE_VERSION_MINOR,HYNE_VERSION_PATCH,HYNE_VERSION_TWEAK
    PRODUCTVERSION		HYNE_VERSION_MAJOR,HYNE_VERSION_MINOR,HYNE_VERSION_PATCH,HYNE_VERSION_TWEAK
    FILEOS				VOS_UNKNOWN
    FILETYPE			VFT_APP
    FILESUBTYPE			VFT2_UNKNOWN
    FILEFLAGSMASK		0x00000000
    FILEFLAGS			0x00000000
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040C04E4"
        BEGIN
            VALUE "CompanyName",        HYNE_COMPANY
            VALUE "FileDescription",    HYNE_DESCRIPTION
            VALUE "ProductName",        HYNE_NAME
            VALUE "FileVersion",        HYNE_VERSION
            VALUE "ProductVersion",     HYNE_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40C, 1252
    END
END
