Source: hyne
Section: games
Priority: extra
Maintainer: Chris Rizzitello <sithlord48@gmail.com>
Build-Depends: Build-Depends: debhelper (>= 8.0.0), cdbs, qtbase5-dev, qt5-qmake, qttools5-dev, zlib1g-dev

Standards-Version: 3.9.4
Homepage: http://forums.qhimm.com/index.php?topic=9713.0
#Vcs-Git: git://git.debian.org/collab-maint/hyne.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/hyne.git;a=summary

Package: hyne
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FF8 Save Game Editor 
 Edit Final Fantasy VIII Saves.works with psx,pc,emulator,psp,ps3 formats
